main {
    height: 400px;
    text-align: center;
    padding-top: 100px;
    padding-left: 240px;
    padding-right: 240px;
}

@media screen and (max-width: 400px){
  body{
    max-width: 370px;
  }
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: url(background_1.jpg) repeat 0 0;
  box-shadow: 0px 0px 0px 1px orange, 1px 1px 10px 0px orange;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  padding-top: 18px;
  width: 50%;
}

.nav-links a{
  color: rgb(218, 141, 0);
  text-decoration: none;
  letter-spacing: 0px;
  padding-top: 10px;
}

.nav-links li{
  list-style: none;
}

.burger div{
  width: 25px;
  height: 3px;
  border-radius: 14px;
  margin: 5px;
  background-color: rgb(218, 141, 0);
}

.burger{
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px){
    .nav-links{
      width: 40%;
    }
}

@media screen and (max-width: 1200px){
  body{
    overflow-x: hidden;
  }

  .nav-links{
    right: 0px;
    position: absolute;
    height: 20vh;
    top: 8vh;
    display: flex;
    background: url(background_1.jpg) repeat 0 0;
    border: 3px solid rgb(71, 71, 71);
    flex-direction: column;
    align-items: left;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index:2;
  }
 
  .burger{
    display: block;
  }
  
}

.nav-links a:hover {
  color: rgb(206, 206, 206);
}

.nav-active{
  transform: translateX(0%);
  position: fixed;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

  .slider {
    height: 65%;
    width: 80%;
    max-width: 1100px;
    line-height: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 3%;
    opacity: 0;
    transition: 1s;
  }

  .slider[data-scroll="in"]{
    opacity: 1;
    transition-delay: 0.2s;
  }

  @media screen and (max-width: 1100px) {
    .slider{
      height: 35%;
      width: 70%;
    }
  }
  @media screen and (max-width: 1024px) {
    .slider{
      height: 30%;
      width: 73%;
      position: relative;
    }
  }


    .descriere {
      position: relative;
      width: 100%;
      height: 30vh;
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(background_1.jpg) repeat 0 0;
      box-shadow: 0px 0px 0px 1px orange, 1px 1px 30px 0px orange;
      color: #fff;
      opacity: 0;
      transition: 1s;
      margin-bottom: 65px;
      transform-origin: left;
    }

    .descriere[data-scroll="in"]{
      opacity: 1;
      transition-delay: 0.5s;
    }
 @media screen and (max-width: 1024px) {
      .descriere{
        padding-top: 42px;
        height: 30%;
      }
    }
    @media screen and (max-width: 800px) {
      .descriere{
        padding-top: 14px;
        height: 52%;
      }
    }

   
  .container {
    max-width: 80%;
    max-width: 500px;
  }

  @media screen and (max-width: 900px) {
    .container{
      height: 100%;
    }
  }

  .container h1
  {
    position: relative;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
  }

  .container h1[data-scroll="in"]{
    transform: scaleX(1);
  }

  .container h1[data-scroll="in"]:before{
    transform: scaleX(0);
    transition-delay: 0.7s;
  }

  .container h1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9900;
    transform-origin: right;
    transition: 0.5s;
  }
 
  .container p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 126%;
    transition: 1s;
    opacity: 0;
  }

  .container p[data-scroll="in"]{
    opacity: 1;
  }



  .echipa{
    position: relative;
  }
  

  .mentori{
    position: relative;
    background-color: rgb(231, 231, 231);
    left: 9%;
    right: 5%;
    width: 40%;
    height: 65%;
    margin-bottom: 4%;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 30px 0px black;
  }

  .mentori h3{
    position: absolute;
    top: 37px;
    left: 33%;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff9900;
    border: 3px solid rgb(100, 100, 100);
    color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 5px black;
    max-width: 1500px;
  }

  .hotea img{
    position: absolute;
    width: 27%;
    height: 50%;
    bottom: 25%;
    left: 15%;
    border-radius: 14px;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 10px 0px black;
  }

  .director img{
    position: absolute;
    width: 27%;
    height: 50%;
    bottom: 25%;
    right: 15%;
    border: 7px solid black;
    border-radius: 14px;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 10px 0px black;
  }

  .mentori h4{
    position: absolute;
    bottom: 12%;
    font-size: 26px;
    left: 21%;
    text-align: center;
    font-family: 'Teko', sans-serif;
  }
  .mentori h6{
    position: absolute;
    bottom: 12%;
    font-size: 25px;
    right: 24%;
    text-align: center;
    font-family: 'Teko', sans-serif;
  }
  

  @media screen and (max-width: 1200px) {
    .mentori{
      height: 70%;
      width: 90%;
      left: 5%;
    }
    .mentori h3{
      left: 35%;
      top: 45px;
    }
  }

  @media screen and (max-width: 768px) {
    .mentori{
      height: 60%;
      width: 90%;
    }
  }


  @media screen and (min-width: 1205px) {

  .membrii{
    position: absolute;
    top: 0px;
    right: 9%;
    background-color: rgb(231, 231, 231);
    width: 40%;
    height: 100%;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 30px 0px black;
  }

  .memb{
    position: absolute;
    top: 37px;
    left: 36%;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff9900;
    border: 3px solid rgb(100, 100, 100);
    color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 5px black;
    max-width: 1500px;
  }

  .slider2{
    position: absolute;
    width: 43%;
    height: 60%;
    bottom: 100px;
    right: 29%;
  }

}

@media screen and (max-width: 1204px) {

  .membrii{
    position: relative;
    margin-left: 20%;
    top: 0px;
    right: 9%;
    background-color: rgb(231, 231, 231);
    width: 78%;
    height: 600px;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 30px 0px black;
  }

  .memb{
    position: absolute;
    font-size: 1em;
    top: 46px;
    left: 37%;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff9900;
    border: 3px solid rgb(100, 100, 100);
    color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 5px black;
    max-width: 1500px;
  }

  .slider2{
    position: absolute;
    width: 52%;
    height: 74%;
    bottom: 20px;
    right: 24%;
  }
  
}


@media screen and (max-width: 768px) {

  .membrii{
    position: relative;
    margin-left: 20%;
    top: 0px;
    right: 10%;
    background-color: rgb(231, 231, 231);
    width: 80%;
    height: 70%;
    box-shadow: 0px 0px 0px 1px black, 1px 1px 30px 0px black;
  }

  .memb{
    position: absolute;
    font-size: 1em;
    top: 37px;
    left: 32%;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff9900;
    border: 3px solid rgb(100, 100, 100);
    color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 5px black;
    max-width: 1500px;
  }

  .slider2{
    position: absolute;
    width: 78%;
    height: 66%;
    bottom: 40px;
    right: 19%;
  }
  
}
 @media screen and (max-width: 500px) {
      
    .slider{
        height: 26%;
        width: 92%;
      }
      .descriere{
        margin-top: 34px;
        padding-top: 30px;
        height: 54%;
       
      }
      .mentori{
        height: 36%;
      }
      .mentori h3{
        font-size: 1.35em;
        top: 5%;
        left: 30%;
      }
      .mentori h4{
        font-size: 1.3em;
        top: 77%;
        left: 18.3%;
      }
      .mentori h6{
        font-size: 1.3em;
        top: 77%;
        right: 20.5%;
      }
    }

    @media screen and (max-width: 450px) {
      .mentori{
        height: 34%;
      }
      .mentori h3{
        font-size: 1.25em;
        top: 5%;
        left: 30%;
      }
    }
.links {
  position: relative;
  top: 13%;
  width: 100%;
  height: 70vh;
  text-align: justify;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(background_1.jpg) repeat 0 0;
  box-shadow: 0px 0px 0px 1px orange, 1px 1px 30px 0px orange;
  color: #fff;
  opacity: 0;
  transition: 1s;
  margin-bottom: 120px;
  transform-origin: left;
}

.links[data-scroll="in"]{
  opacity: 1;
  transition-delay: 0.5s;
}
@media screen and (max-width: 1024px) {
  .links{
    padding-top: 42px;
    height: 30%;
  }
}
@media screen and (max-width: 800px) {
  .links{
    padding-top: 14px;
    height: 52%;
  }
}

.contact{
  position: absolute;
  top: 6%; 
  left: 20%;
  width: 50%;
  font-size: 1.3em;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.facebook{
  position: absolute;
  top: 21%;
  left: 27.5%;
}
.insta{
  position: absolute;
  top: 21%;
  left: 46%;
}
.twitter{
  position: absolute;
  top: 21%;
  right: 30%;
}

.mail{
  position: absolute;
  width: 40%;
  height: 50%;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px 1px orange, 1px 1px 15px 0px orange;
}
.mail h1{
  position: absolute;
  font-size: 2.5em;
  top: 17%; 
  left: 44%;
  width: 45%;
  font-size: 1.2em;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.mail a{
  text-decoration: none;
  position: absolute;
  width: 40%;
  font-family: 'Press Start 2P', cursive;
    background-color: #ff9900;
    border: 3px solid rgb(100, 100, 100);
    color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 8px 8px 8px 8px;
    text-align: center;
  top: 45%;
  left: 32%;
}

.mail a:hover{
  color: rgb(206, 206, 206);
}


.locatie{
  position: absolute;
  width: 60%;
  height: 50%;
  bottom: 0px;
  right: 0px;
  box-shadow: 0px 0px 0px 1px orange, 1px 1px 15px 0px orange;
}
.loc{
  position: absolute;
  font-size: 2.5em;
  top: 17%; 
  left: 13%;
  width: 45%;
  font-size: 1.2em;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.loc2{
  position: absolute;
  font-size: 0.7em;
  top: 50%; 
  left: 6%;
  width: 35%;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.harta{
  position: absolute;
  right: 13%;
  bottom: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgb(179, 179, 179), 1px 1px 15px 0px rgb(179, 179, 179);
}

